*{
    margin: 0;
    color: white;
}

:root{
    --svg-time: 0.15s;
}

.my-navbar{
    
    --nav-height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-base);
    height: var(--nav-height);
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 99999;

}

.g4a-logo{
    height: var(--nav-height);
    border-radius: 5px;
    margin-right: 2ch;
}



.user-info{
    order: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    padding: 1rem;
    margin-left: auto;
    .user-photo{
        height: var(--nav-height);
        margin-left: 1ch;
        border-radius: 5px;
    }
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 2ch;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: .5ch;
}